Allow parenthesis in a URL

As of TodoTxJs 1.6.0, URL's can be automatically shortened, which I find very useful. The thing is, TodoTxtJs leaves out of the shortened URL everything from a left parenthesis (in a left-to-right locale) to the end of the URL. In example, http://dx.doi.org/10.1016/S0140-6736(15)60127-1 becomes [LINK](http://dx.doi.org/10.1016/S0140-6736)(15)60127-1. Although the parentheses I am copying and pasting should have been percent-escaped by the web sites, parentheses are actually legal URL characters, according to [RFC 3986 section 2](http://tools.ietf.org/html/rfc3986#section-2). Would you please include parentheses in your URL regular expression?

fixed in 1.6.1